on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:
jobs:
  git-sync:
    runs-on: ubuntu-latest
    steps:
      - name: git-sync
        uses: wei/git-sync@v3
        with:
          source_repo: "git@gitlab.nic.cz:labs/bird.git"
          source_branch: "refs/remotes/source/*"
          destination_repo: "X4BNet/bird"
          destination_branch: "refs/heads/*"
          destination_ssh_private_key: ${{ secrets.DESTINATION_SSH_PRIVATE_KEY }}